body {
    margin: calc(50px + 20px) 50px 30px;
    background-color: lavenderblush;
}

h1#titre {
    display: block;
    margin: 0 auto 30px;
    width: max-content;
    font-family: "Lucida Calligraphy", cursive;
    text-decoration: underline;
}

h1#titre + div {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 50px;
}

img#chorale {
    display: block;
    width: 45%;
    height: auto;
}

video#presentation {
    display: block;
    width: 49%;
    height: auto;
}

div#description {
    width: 70%;
    translate: calc(50vw - 50% - 50px);
    font-family: "Pristina", cursive;
    font-size: x-large;
    text-align: justify;
}

div#description p:first-child { margin-top: 0; }
div#description p:last-child { margin-bottom: 0; }

/* - - - */

@media(max-width: 600px) {

    body {
        margin: calc(100px + 20px) 20px 20px;
    }

    h1#titre {
        margin-bottom: 20px;
        font-size: x-large;
    }

    h1#titre + div {
        margin-top: 15px;
        flex-direction: column;
        gap: 20px;
    }

    img#chorale,
    video#presentation {
        width: 100%;
        height: auto;
    }

    div#description {
        width: 100%;
        translate: 0px;
        font-size: large;
    }

}

/* - - - */

/* body { border: 2px solid black; } */
/* h1#titre { border: 2px solid black; } */
/* h1#titre + div { border: 2px solid black; } */
/* div#description { border: 2px solid black; } */
/* div#description p { border: 2px solid black; } */