body {
    margin: calc(50px + 20px) 50px 30px;
    background-color: lavenderblush;
}

h1#titre {
    margin: 0 auto 30px;
    width: max-content;
    text-decoration: underline;
}

div#chants_actuels {
    margin-bottom: 50px;
}

h2.titre_section {
    margin: 0 auto 30px;
    width: max-content;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}

div.liste_chants {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
}

button.chant {
    padding: 15px 20px;
    width: 40%;
    font-family: serif;
    font-size: large;
	font-weight: bold;
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: 0 0 5px black;
    background-color: crimson;
}

button.chant:hover {
	box-shadow: none;
	cursor: pointer;
	text-decoration: underline;
}

/* - - - */

@media(max-width: 600px) {

    body {
        margin: calc(100px + 20px) 20px 20px;
    }

    div#chants_actuels {
        margin-bottom: 30px;
    }

    h2.titre_section {
        margin-bottom: 20px;
    }

    div.liste_chants {
        margin-top: 20px;
        flex-direction: column;
    }

    button.chant {
        width: 100%;
    }

}

/* - - - */

/* body { border: 2px solid black; } */
/* h1#titre { border: 2px solid black; } */
/* div.section { border: 2px solid black; } */
/* h2.titre_section { border: 2px solid black; } */
/* div.liste_chants { border: 2px solid black; } */