body {
    margin: calc(50px + 20px) 50px 20px;
    background-color: lavenderblush;
}

h1#titre {
    display: block;
    margin: 0 auto 30px;
    width: max-content;
    font-family: "Lucida Calligraphy", cursive;
    text-decoration: underline;
}

div#liste_chants {
    display: flex;
    margin: 30px auto 0;
    width: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}

button.chant {
    padding: 10px 20px;
    width: 35%;
    font-family: serif;
    font-size: large;
	font-weight: bold;
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: 0 0 5px black;
    background-color: crimson;
}

button.chant:hover {
	box-shadow: none;
	cursor: pointer;
	text-decoration: underline;
}

/* - - - */

@media(max-width: 600px) {

    body {
        margin: calc(100px + 20px) 20px 20px;
    }

    h1#titre {
        margin-bottom: 20px;
        /* font-size: x-large; */
    }

    div#liste_chants {
        margin: 20px 0 0;
        width: 100%;
        flex-direction: column;
    }

    button.chant {
        width: 100%;
    }

}

/* - - - */

/* body { border: 2px solid black; } */
/* h1#titre { border: 2px solid black; } */
/* div#liste_chants { border: 2px solid black; } */