body {
    margin: calc(50px + 20px) 50px 20px;
    background-color: lavenderblush;
}

nav#menu {
    position: absolute;
    inset: 0 0 auto 0;
    height: 50px;
    display: flex;
    background-color: darksalmon;
    box-shadow: 0 0 5px black;
}

nav#menu button {
    padding: 0;
    flex-grow: 1;
    font-family: "Times New Roman", serif;
    font-size: large;
    font-weight: bold;
    border: none;
    background-color: transparent;
}

nav#menu button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: underline;
    cursor: pointer;
}

h1#titre {
    display: block;
    margin: 0 auto 30px;
    width: max-content;
    font-family: "Lucida Calligraphy", cursive;
    text-decoration: underline;
}

h1#titre + div {
    display: flex;
    margin-top: 30px;
    align-items: center;
    gap: 50px;
}

div#description {
    height: max-content;
    font-family: Pristina, cursive;
    font-size: larger;
    text-align: justify;
}

div#description p:first-child { margin-top: 0; }
div#description p:last-child { margin-bottom: 0; }

img#chorale {
    width: 45%;
    height: auto;
    box-shadow: 0 0 5px black;
}

div:last-child {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

video#presentation {
    display: block;
    width: 50vw;
    height: auto;
    box-shadow: 0 0 5px black;
}

/* - - - */

@media(max-width: 600px) {

    body {
        margin-left: 20px;
        margin-right: 20px;
    }

    nav#menu button {
        font-size: medium;
    }

    h1#titre {
        margin-bottom: 20px;
        font-size: larger;
    }

    h1#titre + div {
        margin-top: 20px;
        flex-direction: column;
        gap: 20px;
    }

    img#chorale {
        width: 100%;
        height: auto;
    }

    video#presentation {
        width: 100%;
        height: auto;
    }

}

/* - - - */

/* h1#titre { border: 2px solid black; } */
/* h1#titre + div { border: 2px solid black; } */
/* div#description { border: 2px solid black; } */
/* div#description p { border: 2px solid black; } */