body {
    margin: calc(50px + 20px) 50px 20px;
    background-color: lavenderblush;
}

h1#titre {
    display: block;
    margin: 0 auto 20px;
    width: max-content;
    font-family: "Lucida Calligraphy", cursive;
    text-decoration: underline;
}

ul#informations {
    margin: 20px 0;
    font-family: "Times New Roman", serif;
    font-size: large;
}

li.information { margin-bottom: 10px; }
li.information:last-child { margin-bottom: 0; }

li.information strong {
    text-decoration: underline;
}

div#illustrations_contacts {
    display: flex;
    margin: 20px 0;
    justify-content: space-evenly;
}

div#illustrations_contacts img {
    width: 45%;
}

div#repetitions {
    margin: 20px auto 0;
    width: max-content;
    height: 25px;
    color: crimson;
    font-family: "Times New Roman", serif;
    font-size: large;
    font-weight: bold;
}

/* - - - */

@media(max-width: 600px) {

    body {
        margin: calc(100px + 20px) 20px 20px;
    }

    h1#titre {
        font-size: larger;
    }

    ul#informations {
        font-size: medium;
        text-wrap-style: balance;
    }

    div#illustrations_contacts {
        flex-direction: column;
        gap: 20px;
    }

    div#illustrations_contacts img {
        width: 100%;
        height: auto;
    }

    div#repetitions {
        height: 45px;
        max-width: 100%;
        text-align: center;
        text-wrap-style: balance;
    }

}

/* - - - */

/* h1#titre { border: 2px solid black; } */
/* ul#informations { border: 2px solid black; } */
/* div#illustrations_contacts { border: 2px solid black; } */
/* div#repetitions { border: 2px solid black; } */